%footer.footer
  .container.small
    .pull-left
      URL Shortener tool by
      =link_to 'Vitaliy Yatsunyk', 'http://github.com/djvit', :target => '_blank'

    %ul.pull-right
      %li= link_to "Sign Up", users_path, :class => 'lnk_noauth'
      %li= link_to "Sign In", sessions_path, :class => 'lnk_noauth'
      %li= link_to "Shorten URL", urls_path, :class => 'lnk_auth'
      %li= link_to "Log Out", '#', :class => 'lnk_auth', :id => 'btn_sign_out'
